# motor/Kconfig
# 必须包含 Zephyr 的主 Kconfig 以初始化核心配置
source "Kconfig.zephyr"
rsource "../CommonLibrary/motorcontrollib/lib/Kconfig"
rsource "../CommonLibrary/motorcontrollib/lib/bldcmotor/Kconfig.motor"
rsource "Kconfig.app"
